#game-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  @include heading-font
}

#power-tooltip{
  padding: 5px 10px 5px 10px;
  background-color: rgba(22, 22, 22, 0.5);
  position: absolute;
  display:none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#game-score-display{
  padding: 1% 2% 1% 2%;
  background-color: rgba(22, 22, 22, 0.5);
  position: absolute;
  top: 1%;
  left: 1%;
}
