#game-container{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  @include heading-font
}

#power-tooltip{
  position: absolute;
  display:none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#end-button{
  position: absolute;
  top: 1%;
  right: 0;
}

#game-score-display{
  position: absolute;
  top: 1%;
  left: 1%;
}
